{% extends 'blog/base.html' %}



{% block content %}
  <nav class="navbar navbar-light bg-secondary">
    <div class="container-fluid d-flex align-items-center justify-content-center">
      <a class="navbar-brand text-light" href="#">Populares</a>
      <a class="navbar-brand text-light" href="#">Recentes</a>
    </div>
  </nav>
  <section class="container my-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-4">
      {% for post in posts %}
      <a href="{% url 'detalhes' post.id %}">
        <div class="col">
          <div class="card bg-dark text-white h-auto card-imagens">
            <img src="{{ post.imagem.url }}" class="card-img" alt="..."/>
            <div class="card-img-overlay">
              <h5 class="card-title">{{ post.titulo }}</h5>
              <p class="card-text">{{ post.descricao }}</p> 
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </section>
{% endblock %}